body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(226, 224, 88, 0.2); /* Change color and opacity as needed */
    pointer-events: none; /* This allows interaction with the page underneath */
    z-index: 9999;
}
